@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@tailwind utilities;

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';


/* Dark mode theming */
:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
}

body {
    
}

