@import "tailwindcss";

body{
    background: black;
    color: white;
}
input{
    background: white;
    color: black;
}

.blob-layer {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

/* Shared blob styles */
.blob {
    position: absolute;
    width: 50vw;
    height: 60vw;
    background: linear-gradient(135deg, #10FF11, #1070FF);
    opacity: 0.25;
    filter: blur(120px);
    animation:
        morph 10s ease-in-out infinite,
        wander 15s ease-in-out infinite;
    border-radius: 40% 60% 60% 40% / 45% 55% 45% 55%;
}


/* Morphing */
@keyframes morph {
    0%   { border-radius: 40% 60% 60% 40% / 45% 55% 45% 55%; }
    33%  { border-radius: 60% 40% 50% 50% / 60% 40% 60% 40%; }
    66%  { border-radius: 55% 45% 40% 60% / 50% 60% 55% 45%; }
    100% { border-radius: 40% 60% 60% 40% / 45% 55% 45% 55%; }
}


@keyframes wander {
    0%   { transform: translate(0, 0) scale(1); }
    20%  { transform: translate(35vw, -30vh) scale(0.5); }
    50%  { transform: translate(-20vw, 25vh) scale(1.05); }
    80%  { transform: translate(25vw, -10vh) scale(2); }
    100% { transform: translate(0, 0) scale(1); }
}


.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99999;
}

.nav-item {
    font-size: 16px;
    text-decoration: none;
}

.center-btn {
    background-color: #10FF11;
    border: 2px solid #016d00;
    border-radius: 50%;
    box-shadow: #016d00 4px 4px 0 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    width: 70px;
    height: 70px;
    line-height: 66px; /* centers the + vertically */
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    /* keeps it floating above the footer */
    transform: translateY(-20px);
}

.center-btn:hover {
    background-color: #06b207;
}

.center-btn:active {
    box-shadow: #016d00 2px 2px 0 0;
    transform: translateY(-20px) translate(2px, 2px);
}



